<div class='chat-ranking-form'>
  <h1>新規ランキング作成</h1>
  <%=form_with model: @ranking, local: true do |f|%>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
        <%= f.label :ランキング名, class: 'chat-ranking-form__label'%>
      </div>
      <div class='chat-ranking-form__field--right'>
        <%= f.text_field :title, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '作成するランキング名を入力してください'%>
      </div>
    </div>
  
    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
       <%= f.label :カテゴリ名, class: 'chat-ranking-form__label'%>
       </div>
     <div class='chat-ranking-form__field--right'>
       <%= f.text_field :category, class: 'chat__ranking_name chat-ranking-form__input', placeholder: 'カテゴリ名を選択してください'%>
      </div>
    </div>
       
　　<div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
       <%= f.label :選択肢1, class: 'chat-ranking-form__label'%>
       </div>
     <div class='chat-ranking-form__field--right'>
       <%= f.text_field :choice_a, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択肢1を入力してください'%>
      </div>
    </div>

　　<div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
       <%= f.label :選択肢2, class: 'chat-ranking-form__label'%>
       </div>
     <div class='chat-ranking-form__field--right'>
       <%= f.text_field :choice_b, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択肢2を入力してください'%>
      </div>
    </div>

　　<div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
       <%= f.label :選択肢3, class: 'chat-ranking-form__label'%>
       </div>
     <div class='chat-ranking-form__field--right'>
       <%= f.text_field :choice_c, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択肢3を入力してください'%>
      </div>
    </div>

　　<div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
       <%= f.label :選択肢4, class: 'chat-ranking-form__label'%>
       </div>
     <div class='chat-ranking-form__field--right'>
       <%= f.text_field :choice_d, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択肢4を入力してください'%>
      </div>
    </div>

　　<div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--left'>
       <%= f.label :選択肢5, class: 'chat-ranking-form__label'%>
       </div>
     <div class='chat-ranking-form__field--right'>
       <%= f.text_field :choice_e, class: 'chat__ranking_name chat-ranking-form__input', placeholder: '選択肢5を入力してください'%>
      </div>
    </div>

    <div class='chat-ranking-form__field'>
      <div class='chat-ranking-form__field--right'>
        <%= f.submit class: 'chat-ranking-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
